<html ng-app="App">
    <head>
        <link rel="stylesheet" type="text/css" href="style/popup.css">
        <link rel="stylesheet" type="text/css" href="style/angular-material.min.css">
    </head>
    <body ng-controller="appCtrl">
        <md-content class="plain">
            <h2 class="md-primary">Q</h2><h2>uiet </h2>
            <!-- Spacing is important here -->
            <h2 class="md-primary">T</h2><h2>itle</h2>
        </md-content>

        <md-content>
            <md-radio-group ng-model="case" ng-change="save(); refresh();">
                <md-radio-button value="lower">lower case</md-radio-button>
                <md-radio-button value="start">Start case</md-radio-button>
                <md-radio-button value="title">Title Case</md-radio-button>
                <md-radio-button value="camel">camelCase</md-radio-button>
                <md-radio-button value="all">ALL CAPS</md-radio-button>
            </md-radio-group>
        </md-content>

        <md-content class="plain">
            <h4>
                Find me on
                <a href="https://github.com/hawkins/quiet-title" ng-click="visit()">GitHub</a>!
            </h4>
        </md-content>

        <!-- Angular Material -->
        <script src="js/angular/angular.min.js"></script>
        <script src="js/angular/angular-animate.min.js"></script>
        <script src="js/angular/angular-aria.min.js"></script>
        <script src="js/angular/angular-messages.min.js"></script>
        <script src="js/angular/angular-material.min.js"></script>
        <!-- Custom Popup -->
        <script src="js/popup.js"></script>
    </body>
</html>
