html, body {
    width: 200px;
    height: 200px;
}

h1, h2, h3, h4, h5, h6 {
    width: 100%;
    text-align: center;
}

h3, h4, h5 {
    color: rgba(0,0,0,0.47);
}

md-content {
    border-radius: 15px;
    width: 75%;
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    margin-top: 0;
    margin-bottom: 0;
}

md-radio-button {
    margin: 10px;
}

.plain {
    background: none;
}
